.top{
	min-height: 8em;
	background-color: #3097D1;
}

.top h1, .top h3{
	color: #FFFFFF;
}

.margin-top-1-em{
	margin-top: 1em;
}

.main-link-form{
	margin-top: 3em;
	margin-bottom: 3em;
}

.link-saved-warning{
	margin-top: 2em;
}

.centralized{
	text-align: center;
}